@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div id="administrative" class="container py-5">
  <div class="row align-items-center">
    <div class="col-md-7">
      <h2 class="fw-bold mb-3">@Localizer["AdminTitle"]</h2>
      <p><strong>@Localizer["AdminSubtitle"]</strong></p>
      <p>@Localizer["AdminText1"]</p>
      <p>@Localizer["AdminText2"]</p>
      <p>@Localizer["AdminText3"]</p>
    </div>
    <div class="col-md-5">
      <img src="~/images/legal.png" alt="legal" class="img-fluid rounded-3 shadow" style="max-height:350px;">
    </div>  
  </div>
</div>

