@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div id="Nlp" class="container py-5">
    <div class="row align-items-center">
        <div class="col-md-7">
            <h2 class="fw-bold mb-3">@Localizer["NlpTitle"]</h2>
            <p class="lead">@Localizer["NlpLead"]</p>

            <p>@Localizer["NlpSection1Title"]</p>
            <p>@Localizer["NlpSection1Text"]</p>

            <p>@Localizer["NlpSection2Title"]</p>
            <p>@Localizer["NlpSection2Text"]</p>
            <ul>
                <li>@Localizer["NlpList1"]</li>
                <li>@Localizer["NlpList2"]</li>
                <li>@Localizer["NlpList3"]</li>
                <li>@Localizer["NlpList4"]</li>
            </ul>

            <p>@Localizer["NlpSection3Title"]</p>
            <ul>
                <li>@Localizer["NlpTech1"]</li>
                <li>@Localizer["NlpTech2"]</li>
                <li>@Localizer["NlpTech3"]</li>
                <li>@Localizer["NlpTech4"]</li>
            </ul>

            <p>@Localizer["NlpSection4Title"]</p>
            <p>@Localizer["NlpSection4Text"]</p>
        </div>
        <div class="col-md-5">
            <img src="~/images/cerebro5.png" alt="NlpImg" class="img-fluid rounded-3 shadow img-nlp">
        </div>
    </div>
</div>
