@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div id="rrhh" class="container-fluid">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-5">
                <img src="~/images/rrhh2.png" alt="rrhh" class="img-fluid rounded-3 shadow">
            </div>
            <div class="col-md-7">
                <h2 class="fw-bold mb-3">@Localizer["HrTitle"]</h2>
                <p><strong>@Localizer["HrQuestion"]</strong></p>
                <p>@Localizer["HrText"]</p>
                <p><strong>@Localizer["HrBenefitsTitle"]</strong></p>
                <ul>
                    <li>@Localizer["HrBenefit1"]</li>
                    <li>@Localizer["HrBenefit2"]</li>
                    <li>@Localizer["HrBenefit3"]</li>
                    <li>@Localizer["HrBenefit4"]</li>
                </ul>
            </div>
        </div>
    </div>
</div>
